GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-this-password
GRAFANA_ROOT_URL=https://<SFU_URL_DOMAIN>/grafana/
PROMETHEUS_RETENTION_TIME=15d
PROMETHEUS_RETENTION_SIZE=2GB
O_SFU_LOG_DIR=../../data/logs
